.ContactBox {
  padding: 5px;
  margin: 0 auto;
}
.ContactList {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

.ContactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: bisque;
  border: 1px solid tomato;
  border-radius: 3px;
}

.ContactListName {
  margin: 0 20px 0 0;
}
